In [22]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [5]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [6]:
url

'https://api-fxpractice.oanda.com/v3//accounts/101-012-20912019-001/instruments'

In [9]:
response = session.get(url, params=None, headers= defs.SECURE_HEADER)

In [8]:
response.status_code

200

In [11]:
data = response.json()

In [12]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [14]:
instruments = data['instruments']

In [18]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [19]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [21]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'EUR_HUF', 'type': 'CURRENCY', 'displayName': 'EUR/HUF', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'FR40_EUR', 'type': 'CFD', 'displayName': 'France 40', 'pipLocation': 0, 'marginRate': '0.05'}
{'name': 'EUR_DKK', 'type': 'CURRENCY', 'displayName': 'EUR/DKK', 'pipLocation': -4, 'marginRate': '0.1'}

In [23]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [25]:
instrument_df

          name      type    displayName  pipLocation marginRate
0      EUR_HUF  CURRENCY        EUR/HUF           -2       0.05
1     FR40_EUR       CFD      France 40            0       0.05
2      EUR_DKK  CURRENCY        EUR/DKK           -4        0.1
3      XAU_CHF     METAL       Gold/CHF           -2       0.05
4      XPD_USD       CFD      Palladium           -2        0.1
..         ...       ...            ...          ...        ...
118    USD_PLN  CURRENCY        USD/PLN           -4       0.05
119  AU200_AUD       CFD  Australia 200            0       0.05
120    CAD_HKD  CURRENCY        CAD/HKD           -4        0.1
121   US30_USD       CFD  US Wall St 30            0       0.05
122    GBP_CAD  CURRENCY        GBP/CAD           -4     0.0333

[123 rows x 5 columns]

In [26]:
instrument_df.to_pickle("instruments.pkl")