In [4]:
import requests
import defs

In [5]:
session = requests.Session()

In [6]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [7]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [8]:
url

'https://api-fxpractice.oanda.com/v3//instruments/EUR_USD/candles'

In [9]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [10]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [12]:
response = session.get(url, params=params, headers= defs.SECURE_HEADER)

In [13]:
response.status_code

200

In [15]:
data = response.json()

In [16]:
 data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [17]:
len(data['candles'])

10

In [19]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [20]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [21]:
data['candles'][0]

{'complete': True,
 'volume': 5230,
 'time': '2021-10-28T09:00:00.000000000Z',
 'bid': {'o': '1.15891', 'h': '1.15931', 'l': '1.15816', 'c': '1.15920'},
 'mid': {'o': '1.15900', 'h': '1.15938', 'l': '1.15823', 'c': '1.15928'},
 'ask': {'o': '1.15908', 'h': '1.15945', 'l': '1.15830', 'c': '1.15935'}}

In [26]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2021-10-28T09:00:00.000000000Z', 'volume': 5230, 'mid_o': '1.15900', 'mid_h': '1.15938', 'mid_l': '1.15823', 'mid_c': '1.15928', 'bid_o': '1.15891', 'bid_h': '1.15931', 'bid_l': '1.15816', 'bid_c': '1.15920', 'ask_o': '1.15908', 'ask_h': '1.15945', 'ask_l': '1.15830', 'ask_c': '1.15935'}

In [27]:
candles_df = pd.DataFrame.from_dict(our_data)

In [28]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2021-10-28T09:00:00.000000000Z,5230,1.15900,1.15938,1.15823,1.15928,1.15891,1.15931,1.15816,1.15920,1.15908,1.15945,1.15830,1.15935
1,2021-10-28T10:00:00.000000000Z,3594,1.15926,1.16073,1.15908,1.16064,1.15918,1.16066,1.15901,1.16056,1.15934,1.16080,1.15915,1.16071
2,2021-10-28T11:00:00.000000000Z,6318,1.16066,1.16178,1.15921,1.15969,1.16057,1.16171,1.15912,1.15960,1.16074,1.16184,1.15929,1.15978
3,2021-10-28T12:00:00.000000000Z,16400,1.15970,1.16361,1.15824,1.16300,1.15963,1.16352,1.15815,1.16293,1.15977,1.16371,1.15830,1.16308
4,2021-10-28T13:00:00.000000000Z,15976,1.16303,1.16601,1.16246,1.16567,1.16296,1.16594,1.16239,1.16558,1.16310,1.16609,1.16252,1.16576
5,2021-10-28T14:00:00.000000000Z,11673,1.16569,1.16866,1.16569,1.16756,1.16560,1.16858,1.16560,1.16749,1.16578,1.16874,1.16578,1.16764
6,2021-10-28T15:00:00.000000000Z,7430,1.16758,1.16923,1.16744,1.16842,1.16751,1.16916,1.16737,1.16836,1.16764,1.16930,1.16751,1.16849
7,2021-10-28T16:00:00.000000000Z,3844,1.16841,1.16886,1.16775,1.16786,1.16834,1.16879,1.16768,1.16779,1.16848,1.16892,1.16782,1.16793
8,2021-10-28T17:00:00.000000000Z,3671,1.16784,1.16887,1.16712,1.16874,1.16777,1.16881,1.16704,1.16868,1.16792,1.16893,1.16719,1.16880

In [29]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [30]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [31]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2021-10-28T09:00:00.000000000Z,5230,1.15900,1.15938,1.15823,1.15928,1.15891,1.15931,1.15816,1.15920,1.15908,1.15945,1.15830,1.15935
1,2021-10-28T10:00:00.000000000Z,3594,1.15926,1.16073,1.15908,1.16064,1.15918,1.16066,1.15901,1.16056,1.15934,1.16080,1.15915,1.16071
2,2021-10-28T11:00:00.000000000Z,6318,1.16066,1.16178,1.15921,1.15969,1.16057,1.16171,1.15912,1.15960,1.16074,1.16184,1.15929,1.15978
3,2021-10-28T12:00:00.000000000Z,16400,1.15970,1.16361,1.15824,1.16300,1.15963,1.16352,1.15815,1.16293,1.15977,1.16371,1.15830,1.16308
4,2021-10-28T13:00:00.000000000Z,15976,1.16303,1.16601,1.16246,1.16567,1.16296,1.16594,1.16239,1.16558,1.16310,1.16609,1.16252,1.16576
5,2021-10-28T14:00:00.000000000Z,11673,1.16569,1.16866,1.16569,1.16756,1.16560,1.16858,1.16560,1.16749,1.16578,1.16874,1.16578,1.16764
6,2021-10-28T15:00:00.000000000Z,7430,1.16758,1.16923,1.16744,1.16842,1.16751,1.16916,1.16737,1.16836,1.16764,1.16930,1.16751,1.16849
7,2021-10-28T16:00:00.000000000Z,3844,1.16841,1.16886,1.16775,1.16786,1.16834,1.16879,1.16768,1.16779,1.16848,1.16892,1.16782,1.16793
8,2021-10-28T17:00:00.000000000Z,3671,1.16784,1.16887,1.16712,1.16874,1.16777,1.16881,1.16704,1.16868,1.16792,1.16893,1.16719,1.16880